ul {
  float: right;
  padding: 0;
  text-align: right;
}
.linkss {
  text-decoration: none;
  color: #fff;
  margin: 0 15px;
  text-align: right;
  font-size: 1.2em;
}
.titre {
  font-size: 3em;
  float: left;
  display: block;
  color: #fff;
  margin: 1%;
}
